<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Header Section -->
  <div class="header">
    <ion-title class="title" size="large">Enter your Email</ion-title>
  </div>

  <!-- Email Input Form -->
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="email" placeholder="Enter your email" class="input"></ion-input>
      <ion-icon slot="end" name="mail-outline"></ion-icon>
    </ion-item>

    <!-- Send Button -->
    <ion-button class="sendBtn" expand="block" shape="round" (click)="reset()">
      Send
    </ion-button>
  </div>

</ion-content>
