.custom-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
  }
  
  .title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .summary {
    font-size: 0.95em;
    color: #555;
  }
  
  .fab-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .logout-button {
    font-size: 1.2em;
    padding: 10px;
  }
  