.header {
    text-align: center;
    margin-top: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #1E90FF;
  }
  
  .subtitle {
    font-size: 16px;
    color: #888;
    margin-top: -10px;
  }
  
  .errorInput {
    font-size: 14px;
    margin-left: 10px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-icon {
    color: #1E90FF;
  }
  
  ion-button {
    --border-radius: 20px;
    font-size: 18px;
    --background: #1E90FF;
  }
  
  ion-fab-button {
    --background: #1E90FF;
    --border-radius: 50%;
  }
  